.cover {
    background-image: url(./images/journey-cover.png);
    height: 100vh;
    background-size: cover;
    font-family: Verdana, Courier, sans-serif;
    position: relative;
}

.menu {
    background-color: rgba(0,0,0,0.5);
    height: 56px;
}

.menu::after {
    content: '';
    display: block;
    clear: both;
}


.logo {
    float: left;
    margin-left: 81px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.logo:hover {
    color: #3cb878;
    cursor: pointer;
}

.menu-items-wrapper {
    float: right;
    margin-top: 20px;
}

.menu-items {
    background: url("images/sprites.png");
    display: inline-block;

}

.calendar {
    width: 19px;
    height: 19px;
    background-position: -10px -175px;

}

.calendar:hover {
    background-position: -10px -146px;
    cursor: pointer;

}

.forum {
    width: 28px;
    height: 20px;
    background-position: -10px -30px;
    margin-left: 28px;

}

.forum:hover {
    background-position: -10px -0px;
    cursor: pointer;

}

.compass {
    width: 20px;
    height: 20px;
    background-position: -10px -116px;
    margin-left: 28px;

}

.compass:hover {
    background-position: -10px -86px;
    cursor: pointer;
}

.login {
    float: right;
    margin-top: 23px;
    margin-left: 50px;
    margin-right: 90px;
    font-size: 14px;
    color: white;
}

.login-items:link {
    color: #3cb878;
}

.login-items:visited {
    color: #3cb878;
}

.login-items:hover {
    color: #3cb878;
    text-decoration: underline;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 5px;
}


.container::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    display: inline-block;
    position: absolute;
    top: 31px;
    left: 0;
}

.form-header {
    padding-top: 29px;
    padding-left: 60px;
    padding-right: 59px;
}

.form-header::after {
    content: '';
    display: block;
    clear: both;
}

H1 {
    float: left;
    font-size: 20px;

}

.form-header-link {
    float: right;
    font-size: 14px;
    padding-left: 195px;
    padding-top: 5px;
}

.form-header-link:link {
    color: #3cb878;

}

.form-header-link:visited {
    color: #3cb878;

}

.form-header-link:hover {
    color: #3cb878;
    text-decoration: underline;
}

.social-link {
    margin-top: 15px;
    margin-left: 62px;
}


.facebook {
    display: inline-block;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    position: relative;
    padding-right: 17px;
    text-align: right;
    color: white;
}


.facebook::before {
    content: '';
    width: 10px;
    height: 20px;
    display: inline-block;
    background: url("images/sprites.png");
    background-position: -10px -204px;
    position: absolute;
    top: 13px;
    left: 20px;
}

.facebook::after {
    content: '';
    height: 25px;
    border-left: 1px solid #224387;
    position: absolute;
    top: 11px;
    left: 50px;
}

.facebook:hover {
    cursor: pointer;
}

.google {
    display: inline-block;
    margin-left: 5px;
    width: 157px;
    height: 46px;
    background-color: #c3412c;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    position: relative;
    padding-right: 30px;
    text-align: right;
    color: white;
}

.google::before {
    content: '';
    width: 25px;
    height: 16px;
    display: inline-block;
    background: url("images/sprites.png");
    background-position: -10px -60px;
    position: absolute;
    top: 15px;
    left: 13px;
}

.google::after {
    content: '';
    height: 25px;
    border-left: 1px solid #af3a28;
    position: absolute;
    top: 11px;
    left: 50px;
}

.google:hover {
    cursor: pointer;
}

.decoration-line {
    margin-top: 28px;
    margin-left: 62px;
    position: relative;
}

.decoration-line-text {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: #848484;
    text-align: center;
    position: relative;
    left: 145px;
    background-color: white;
    z-index: 1;

}

.decoration-line::before {
    content: '';
    display: inline-block;
    border-bottom: solid 1px #eaeaea;
    position: absolute;
    top: 50%;
    left: 0;
    width: 322px;
    z-index: 0;
}

form {
    margin-top: 18px;
    margin-left: 62px;

}

.form-item {
    display: block;
    margin-top: 10px;
    width: 322px;
    height: 46px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 17px;
    color: #434343;
}

.form-item::placeholder {
    font-size: 14px;
    color: #cbcbcb;
}

.form-item:focus {
    box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1);
}

.form-checkbox {
    margin-top: 18px;
    font-size: 14px;
    color: #434343;

}

.form-link:link {
    color: #3cb878;
}

.form-link:visited {
    color: #3cb878;
}

.form-link:hover {
    color: #3cb878;
    text-decoration: underline;

}

.form-button {
    display: block;
    margin-top: 28px;
    width: 322px;
    height: 46px;
    background-color: #329a65;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

.form-button:hover {
    cursor: pointer;
}


.top-part {
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0 0 ;

    display: inline-block;
    background-color: #3cb878;

}

.botom-part {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #cbcbcb;
}