
.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}


input[type=checkbox] {
  display: none;
}


nav {
  width: 18.3rem;
  margin-top: 3.5rem;
}


nav ul {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  transition: all 1s cubic-bezier(.325, 1, .22, 1);

}

.nav-link {
  color: #3f4043;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  display: flex;
  background-color:#fafafa;
  border-bottom: 0.1rem solid #e9e9e9;
}

.nav-link:hover{
  background-color: #f5f5f5;
}

input[type=checkbox]:checked ~ nav ul {
  max-height: 16.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
  background-color:#fafafa;
  z-index: 1;
  transition: all 1s cubic-bezier(.5, 1, .22, 1);
}

.nav-line{
  display: block;
  position: absolute;
  background-color: #202529;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
}

.line {
  position: absolute;
  display: block;
  background: white;
  width: 1.9rem;
  height: 0.2rem;
  transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 0.7rem;
}

.line-3 {
  top: 1.4rem;
}

input[type=checkbox]:checked ~ label .line-1 {
  top: 0;
  width: 2.2rem;
  transform: translateX(-1.1rem) rotate(-45deg) translateY(1.2rem);
}

input[type=checkbox]:checked ~ label .line-2 {
  opacity: 0;
}

input[type=checkbox]:checked ~ label .line-3 {
  top: 1.4rem;
  width: 2.2rem;
  transform: translateX(-0.8rem) rotate(45deg) translateY(-0.8rem);
}