$primary: #acd8ad;
$secondary: #3f4043;

@mixin offersItem ($mode){
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 77.5%;

  @if ($mode == delivery) {
    background-image: url("../img/delivery.png");
    background-position: bottom;
  } @else if ($mode == salads){
    background-image: url("../img/Salads.png");
    background-position: center;
  } @else if ($mode == desserts){
    background-image: url("../img/Desserts.png");
    background-position: center;
  }
}

@mixin offersTitle ($name){
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;

  @if ($name == delivery){
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 0.4rem;
  } @else if ($name == salads){
    padding-top: 2.6rem;
    padding-bottom: 2.7rem;
    padding-left: 2rem;
  } @else if ($name == desserts){
    padding-top: 2.6rem;
    padding-bottom: 2.7rem;
    padding-right: 0.5rem;
  }

  @media (min-width: 980px) {
    font-size: 3.8rem;
    padding-top: 14rem;
    padding-bottom: 15rem;
  }

  @media (min-width: 1200px) {
    font-size: 4.4rem;
    padding-top: 17.5rem;
    padding-bottom: 18rem;
  }
}


@mixin menuTitle($color){
  font-size: 2rem;
  text-transform: uppercase;

  @if ($color == brown) {
    color: #3f4043;
    padding-top: 2.3rem;
    padding-left: 0.7rem;
    } @else if ($color == green){
    color: $primary;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    margin-left: -1.6rem;
    margin-right: -1.8rem;
    background-color: #3f4043;
   } @else if ($color == white){
    color: white;
    text-align: left;
    background-color: $primary;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.7rem;
    margin-left: -1.6rem;
    margin-right: -1.8rem;
    }

  @media (min-width: 980px) {
    font-size: 3.4rem;
    @if ($color == brown) {
      padding-top: 6.8rem;
      padding-left: 2.7rem;
    } @else if ($color == green) {
      padding-top: 2.1rem;
      padding-left: 1.7rem;
      padding-bottom: 2rem;
    } @else if ($color == white) {
      padding-top: 2.1rem;
      padding-bottom: 2rem;
      padding-left: 1.4rem;
      margin-left: -0.6rem;
    }
  }
    @media (min-width: 1200px) {
      font-size: 4rem;
      @if ($color == brown) {
        padding-top: 6.8rem;
        padding-left: 2.7rem;
      } @else if ($color == green) {
        padding-top: 1.2rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
        margin-left: -1.7rem;
        margin-right: 0;
      } @else if ($color == white) {
        padding-top: 1.2rem;
        padding-bottom: 2rem;
        padding-left: 2.4rem;
        margin-left: -2.4rem;
        margin-right: -1.9rem;
      }
    }
  }

@mixin menuSubtitle($text){
  padding-bottom: 2rem;
  font-size:  1.5rem;
  text-transform: uppercase;
  color: $secondary;

  @if ($text == pizza){
    padding-top: 1.7rem;
    padding-left: 0.1rem;
  } @else if ($text == glass){
    padding-top: 1.1rem;
    padding-left: 0.1rem;
  } @else if ($text == cup){
    padding-top: 1.7rem;
    padding-left: 0.2rem;
  } @else if ($text == mug){
    padding-top: 1.2rem;
    padding-left: 0.1rem;
  }

  @media (min-width: 980px) {
    font-size: 2.4rem;
    padding-bottom: 4.2rem;

    @if ($text == pizza){
      padding-top: 3.7rem;
    } @else if ($text == glass){
      padding-top: 2.1rem;
    } @else if ($text == cup){
      padding-top: 3.7rem;
      padding-left: 1rem;
    } @else if ($text == mug){
      padding-top: 2.1rem;
      margin-right: -1.8rem;
    }

    @media (min-width: 1200px) {
      font-size: 3rem;
    }
  }
}

@mixin menuImg($theme) {

  @if ($theme == pizza) {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
  } @else if ($theme == glass) {
    width: 1.3rem;
    height: 2.4rem;
    margin-top: 0.6rem;
    margin-right: 0.7rem;
  } @else if ($theme == cup) {
    width: 3rem;
    height: 2.1rem;
    margin-top: 1.3rem;
    margin-right: -0.2rem;
  } @else if ($theme == mug) {
    width: 2.1rem;
    height: 2rem;
    margin-top: 0.8rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 980px) {
    @if ($theme == pizza) {
      width: 4.2rem;
      height: 4.2rem;
      margin-top: 2.8rem;
      margin-right: -0.6rem;
    } @else if ($theme == glass) {
      width: 2.5rem;
      height: 4.4rem;
      margin-top: 1rem;
      margin-right: -0.6rem;
    } @else if ($theme == cup) {
      width: 5.6rem;
      height: 3.9rem;
      margin-top: 2.7rem;
    } @else if ($theme == mug) {
      width: 4rem;
      height: 3.9rem;
      margin-top: 1.2rem;
      margin-right: -0.4rem;
    }
  }
    @media (min-width: 980px){
      @if ($theme == pizza) {
        width: 4.9rem;
        height: 4.8rem;
        } @else if ($theme == glass) {
        width: 2.7rem;
        height: 4.8rem;
        } @else if ($theme == cup) {
        width: 6.1rem;
        height: 4.2rem;
        } @else if ($theme == mug) {
        width: 4.3rem;
        height: 4.2rem;
    }
  }

}
