.header__logo-margin{
  margin-right: 4rem;
}

.main__title {
  font-size: 6.3rem;
  line-height: 1;
  padding-top: 5rem;
  }

.main__info {
  font-size: 3.9rem;
  padding-top: 5.1rem;
  padding-bottom: 38rem;
}

.menu__dish {
  font-size: 2.7rem;
}

.menu__logo {
  width: 12rem;
  height: 9.8rem;
  margin-top: 4rem;
}

.menu__description{
  font-size: 1.9rem;
  letter-spacing: 0.02rem;
  padding-bottom: 2rem;
}

.footer-margin {
  margin-top: 10.2rem;
}