html {
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: space-between;

  &__text {
    display: none;
  }

  &__dropdown-background {
    display: none;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    width: 63rem;
  }

  &__menu-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ebebeb;
    padding-top: 4.5rem;
    padding-bottom: 4.1rem;
  }

  &__logo {
    display: inline-block;
    width: 10.4rem;
    height: 8.3rem;
  }
}

.header__logo-margin{
  margin-top: 1rem;
  margin-right: 2.9rem;
}

.dropdown {
  display: none;
}

.main {

  &__title {
    font-size: 5.4rem;
    line-height: 1.3;
    padding-top: 4.7rem;
    padding-left: 3.6rem;
  }

  &__info {
    font-size: 3.4rem;
    padding-top: 4.6rem;
    padding-left: 3.6rem;
    padding-bottom: 26rem;
  }
}

  .offers {
    display: flex;
    justify-content: center;

    &__item {
      flex-basis: 33.33%;
      margin-top: 0.5rem;
    }

    &__item--delivery {
      flex-basis: 100%;
    }

    &__item--salads {
      flex-basis: 100%;
    }

    &__item--desserts {
      flex-basis: 100%;
    }

    &__item-block {
      display: none;
    }
  }

  .menu__title-margin {
    margin-top: 0;
  }

  .menu__logo-margin {
    margin-top: 5rem;
    margin-right: 2.8rem;
  }

  .menu {
    flex-direction: row;

    &__block-1 {
      padding-left: 1.8rem;
      padding-right: 0;
      flex-basis: 50%;
    }

    &__block-2 {
      padding-left: 2.4rem;
      padding-right: 2rem;
      flex-basis: 50%;
    }

      &__title-text {
      font-size: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 2.4rem;
      padding-left: 2.7rem;
    }

    &__logo {
      display: inline-block;
      width: 10.9rem;
      height: 8.9rem;
    }

    &__dish {
      font-size: 2.4rem;
      }

    &__price {
      font-size: 2.4rem;
     }

    &__description {
      font-size: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 2.4rem;
      padding-left: 0.2rem;
      letter-spacing: 0.02rem;
      line-height: 1.3;
    }
  }

.footer-margin {
  margin-top: 5.7rem;
}

  .footer {
    &__logo {
      display: inline-block;
      width: 10.4rem;
      height: 8.3rem;
    }

    &__logo-margin{
      margin-top: 0.7rem;
      margin-left: 3rem;
    }

    &__text--320 {
      display: none;
    }

    &__text--980 {
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      padding-top: 4.3rem;
      padding-right: 2.9rem;
      padding-bottom: 3.7rem;
      text-align: right;
      font-size: 1.8rem;
      color: white;
      }
  }

