@import "reset";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "dropdown";
@import "mixins";

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
}

* * {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: #373c3f;


  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    padding-top: 1.1rem;
    padding-left: 1.68rem;
    padding-bottom: 1.2rem;
  }

  &__dropdown-background {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.6rem;
    padding-right: 4.4rem;
    background-color: #202529;
  }

  &__menu{
    display: none;
  }

  &__logo {
   display: none;
  }
}

.main-margin {
  margin-bottom: 0.4rem;
}

.main {
  width: 100%;
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;

  &__title {
    font-size: 1.63rem;
    font-weight: 700;
    line-height: 1.46;
    color: white;
    padding-top: 1.35rem;
    padding-left: 2rem;
  }

  &__info {
    font-size: 1.4rem;
    font-weight: bold;
    color: #a6d6e0;
    padding-top: 0.6rem;
    padding-left: 2.1rem;
    padding-bottom: 9.5rem;
  }
}

.offers__item-margin {
  margin-top: 0.3rem;
}

.offers {

  &__item {
    display: flex;
  }

  &__item--delivery {
    @include offersItem (delivery)
  }

  &__item--salads {
    @include offersItem (salads)
      }

  &__item--desserts {
    @include offersItem (desserts)
  }

  &__item-title--delivery {
    @include offersTitle (delivery)
  }

  &__item-title--salad {
    @include offersTitle (salads)
  }

  &__item-title--desserts {
    @include offersTitle (desserts)
  }


  &__item-block {
    background-color: $primary;
    flex-basis: 22.5%;
    color: white;
    position: relative;
  }
}

.fas {
  position: absolute;
  top: 38%;
  left: 44%;
}


.menu__title-margin {
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__title{
    display: flex;
    justify-content: space-between;
  }

  &__block-1 {
    padding-left: 1.6rem;
    padding-right: 1.8rem;
  }

  &__block-2 {
    padding-left: 1.6rem;
    padding-right: 1.8rem;
  }

  &__title--brown {
    @include menuTitle(brown)
    }

  &__title--green {
    @include menuTitle(green)
  }

  &__title--white {
    @include menuTitle(white)
  }

  &__title-text {
    font-size: 1rem;
    color: #cbccce;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    padding-left: 0.9rem;
    }

  &__logo {
    display: none;
  }

  &__subtitle-flex {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle--pizza {
    @include menuSubtitle(pizza)
  }

  &__subtitle--glass {
    @include menuSubtitle(glass)
  }

  &__subtitle--cup {
    @include menuSubtitle(cup)
  }

  &__subtitle--mug {
    @include menuSubtitle(mug)
  }

  &__image--pizza {
       @include menuImg(pizza)
   }

  &__image--glass {
    @include menuImg(glass)
  }

  &__image--cup {
    @include menuImg(cup)
  }

  &__image--mug {
    @include menuImg(mug)
  }

  &__item-flex {
    display: flex;
    justify-content: space-between;
  }

  &__dish {
    font-size: 1.3rem;
    color: $secondary;
    letter-spacing: 0.02rem;
   }

  &__price {
    font-size: 1.3rem;
    font-weight: bold;
    color: $secondary;
  }

  &__description {
    font-size: 0.88rem;
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    letter-spacing: 0.23px;
    color: $secondary;
  }

}

.footer-margin{
  margin-top: 3.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $primary;


  &__logo {
    display: none;
  }

  &__text--320 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    padding-top: 0.9rem;
    padding-bottom: 1.1rem;
    padding-left: 4rem;
  }

  &__text--980 {
    display: none;
  }
}

