html {
  font-size: 20px;
}

.main__title {
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 1;
}

.main__info {
  font-size: 1.3rem;
  padding-top: 1.1rem;
  padding-left: 2.1rem;
  padding-bottom: 10rem;
}

.footer__text--320 {
  font-size: 0.9rem;
  padding-top: 1.2rem;
  padding-left: 7.3rem;
}