.wrapper {
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;

}

button, a {
    cursor: pointer;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
    height: 70px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
 }

.logo-button {
    height: 70px;
    width: 70px;
    border: none;
    position: relative;
    background-color: #1a1d20;
}

.logo-button:before {
    content: url("images/logo-main.png");
    position: absolute;
    top: 22px;
    right: 21px;
}

menu {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-transform: uppercase;
    flex-basis: 50%;
}

.menu-link:link {
    color: white;
}

.menu-link:visited {
    color: white;
}

.menu-link:hover {
    color: white;
}

.search {
   display: flex;
    align-items: center;
}

.search-button {
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    border: none;
    position: relative;
}

.search-button:before {
    content: url("images/search-img.png");
    position: absolute;
    top: 27px;
    left: 26px;
}

.search-line {
    background-color: #1d2124;
    border: none;
    color: white;
    font-size: 14px;
    width: 150px;
}

.search-line:hover {
    border-bottom: 2px solid white;
}

.section1 {
    background-image: url("images/header-bg.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 27px;
    color: white;
    text-transform: uppercase;
}

.section1-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 44px;

}

.button-section1 {
    width: 170px;
    height: 55px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 18px;

}

.subscribe{
    background-color: #89ca62;
}

.articles{
    background-color: #14b9d5;
    margin-left: 20px;
}


.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

}

.section2-title {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;
    margin: 50px 0;
}

.section2-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1180px;
    height: 890px;
    justify-content: flex-start;
}

.post-text {
    height: 60px;
    width: 370px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #353a3d;
    padding-top: 20px;
    margin-bottom: 30px;
}

.section3 {
    background-image: url("images/parallax-bg.jpeg");
    height: 590px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 23% 18% 18% 18% 23%;
    justify-items: center;
    align-items: center;

}


.section3-title {
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    grid-column: 2/6;
    grid-row: 2;

}

.section3-line {
    border-top: 3px solid #169cb4;
    width: 60px;
    grid-row: 3;
    grid-column: 2/6;
   }

.logo1 {
    grid-row: 4;
    grid-column: 2/3;

}

.logo2 {
    grid-row: 4;
    grid-column: 3/4;
   }

.logo3 {
    grid-row: 4;
    grid-column: 4/5;

}

.logo4 {
    grid-row: 4;
    grid-column: 5/6;

}


.section4 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 321px;
    width: 100vw;
    align-items: center;
    justify-items: center;

}

.section4-title {
    grid-row: 1;
    grid-column: 1/8;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;

}

.section4-img {
    width: 14.18vw;
    grid-row: 2;
    align-self: stretch;
}

/*.section4-title2 {*/
/*    grid-row: 3;*/
/*    grid-column: 2/7;*/
/*    font-size: 27px;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #18b4cf;*/
/*}*/


.section5 {
    margin: auto;
    display: grid;
    width: 1168px;
    grid-template-rows: 112px 259px 418px 418px 259px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 43px;

 }

.section5-title {
    grid-row: 1;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;
    margin-bottom: -30px;
   }

.news-text {
    font-size: 14px;
    font-weight: 500;
    color: #5b6469;
    text-align: right;
    padding-right: 27px;
    line-height: 1.3;

}

.news-text-title {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    line-height: 2.5;
    text-align: center;
}


.news-items-1 {
    width: 856px;
    height: 259px;
    grid-row: 2;
    grid-column: 1/4;
    background-color: #f9f7f7;

}

.news-items-1-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.news-img-1 {
    grid-column: 1;


}
.news-text-1 {
    grid-column: 2;
}

.news-items-2 {
    width: 277px;
    height: 259px;
    grid-row: 2;
    grid-column: 4;
   background-color: #f9f7f7;

}

.news-text-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

.news-items-3 {
    width: 554px;
    height: 418px;
    grid-row: 3;
    grid-column: 1/3;
    background-color: #f9f7f7;

}

.news-items-4 {
    width: 554px;
    height: 418px;
    grid-row: 3;
    grid-column: 3/5;
    background-color: #f9f7f7;
}

.news-items-5 {
    width: 554px;
    height: 418px;
    grid-row: 4;
    grid-column: 1/3;
    background-color: #f9f7f7;
}

.news-items-6 {
    width: 554px;
    height: 418px;
    grid-row: 4;
    grid-column: 3/5;
    background-color: #f9f7f7;
}

.news-items-7 {
    width: 277px;
    height: 259px;
    grid-row: 5;
    grid-column: 1;
    background-color: #f9f7f7;

}

.news-items-8 {
    width: 850px;
    height: 259px;
    grid-row: 5;
    grid-column: 2/5;
    background-color: #f9f7f7;

}

.news-items-8-wrapper {
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;

}

.news-img-8 {
    grid-column: 1;
}

.news-text-8 {
    grid-column: 2;
}


footer {
    height: 80px;
    margin-top: 71px;
    background-color: #1d2124;
    color: white;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    align-items: center;

}


.footer-text {
    grid-column: 2;

}

.footer-logo {
    grid-column: 3;
    justify-self: right;
    position: relative;
}

.footer-logo:before {
    content: url("images/footer-img-1.png");
    position: absolute;
    top: 0;
    right: 62px;
}
