.main-wrapper {
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}

button, a {
    cursor: pointer;
}

.header-cover {
    background-image: url("../images/background/section-1.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header-wrapper {
    background-color: rgba(102,101,96,0.6);
    height: 120px;
    box-sizing: border-box;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container-flex {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 36px;
    display: inline-block;
    padding-top: 43px;
    padding-left: 62px;
    position: relative;
}

.logo::before {
    content: url("../images/pseudo/polygon.png");
    position: absolute;
    left: -4px;
    top: 25px;
}

.logo::after {
    content: url("../images/pseudo/letter.png");
    position: absolute;
    left: 13px;
    top: 42px;
}

.logo span {
    font-weight: bold;
}

a.logo:link {
    color: white;
}

a.logo:visited {
    color: white;
}

a.logo:hover {
    color: white;
}

a.logo:link span {
    color: #18cfab;
}

a.logo:visited span {
    color: #18cfab;
}

a.logo:hover span{
    color: #18cfab;
}

nav {
    width: 644px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    padding-top: 56px;
    padding-bottom: 49px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link {
    font-size: 13px;
}


.nav-link:hover {
    border-bottom: 2px solid #18cfab;
}

a.nav-link:link {
    color: #bbbbbb;
}

a.nav-link:visited {
    color: #bbbbbb;
}

a.nav-link:hover {
    color: #18cfab;
}

.header-search {
   justify-content: flex-end;
    padding-top: 50px;
    padding-left: 20px;
}


.header-section {
    width: 1160px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 246px;
    text-align: center;
}

h2 span {
    color:#18cfab;
}

.header-section-title {
    font-size: 70px;
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 45px;
    text-transform: uppercase;
}

.header-section-subtitle {
    font-size: 30px;
    text-transform: capitalize;
    color: #d4d4d4;
    font-weight: lighter;
    text-align: center;
    padding-top: 37px;
    display: block;
}

.header-section-buttons {
    padding-top: 142px;
    padding-bottom: 244px;
    text-align: center;
}

.header-section-button1 {
    width: 166px;
    height: 61px;
    color: white;
    font-weight: bold;
    background-color: #18cfab;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    box-shadow: 0 -4px 0 0 white;
}


.header-section-button2 {
    width: 166px;
    height: 61px;
    color: white;
    font-weight: bold;
    background-color: #00cbf6;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-left: 28px;
    box-shadow: 0 -4px 0 0 white;
}

/*OFFERS*/

.section-offer-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    height: 367px;
    margin: 0 auto;
}

.section-offer-item {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    padding-top: 95px;
}

.section-offer-item:nth-of-type(even){
    background-color: #18cfab;
    border-top: 7px solid white;
    padding-top: 105px;
}

.offer-img {
    margin: 0 auto;
    display: block;
}

.offer-text-1 {
    padding-top: 49px;
    display: block;
}

.offer-text-2 {
    padding-top: 59px;
    display: block;
}

.section-offer-item:link {
    color: white;
}

.section-offer-item:visited {
    color: white;
}

.section-offer-item:hover {
    color: white;
}

.section-offer-item:nth-of-type(odd):link {
    color: #18cfab;
}
.section-offer-item:nth-of-type(odd):visited {
    color: #18cfab;
}
.section-offer-item:nth-of-type(odd):hover {
    color: #18cfab;
}


/*TABS*/

.services-container{
    width: 1160px;
    margin: 0 auto;
    padding-top: 82px;
}

.services-header {
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin-bottom: 100px;
    text-transform: capitalize;
}


.services-header::after {
    content: '';
    width: 76px;
    border-bottom: 1px solid #18cfab;
    box-shadow: 10px 8px 0 0 #18cfab;
    position: absolute;
    bottom: -35px;
    left: 542px;
    display: block;
}


.services-menu {
    padding-bottom: 103px;
}

.services-tabs {
    display: flex;
    margin-bottom: 25px;
}

.services-tabs-title {
    width: 192px;
    height: 73px;
    background-color: #f8fcfe;
    color: #717171;
    border: 1px solid #ebebeb;
    cursor: pointer;
    text-align: center;
    padding-top: 27px;
    box-sizing: border-box;
    position: relative;
}

.services-tabs-title:hover {
    background-color:#18cfab;
    color: white;
}

.services-tabs-title.show {
    background-color:#18cfab;
    color: white;
}

.services-tabs-title.show::after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #18cfab;
    position: absolute;
    bottom: -10px;
    right: 83px;
    transform: rotate(45deg);
}

.services-item{
    display: none;
}

.services-item.show {
    display: block;
}

.services-item-wrap{
    display: flex;
}

.services-item-img{
    width: 194px;
    height: 139px;
}

.services-item-text{
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.7;
    color: #777777;
}


/*WORK*/

.work-background {
    background-color: #f8fcfe;
}

.work-container {
    width: 1160px;
    margin: 0 auto;
}

.work-header {
    padding-top: 96px;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    text-transform: capitalize;
}

.work-header::after {
    content: '';
    width: 76px;
    border-bottom: 1px solid #18cfab;
    box-shadow: 10px 8px 0 0 #18cfab;
    position: absolute;
    bottom: -35px;
    left: 542px;
    display: block;
}

.work-wrapper {
    padding-top: 101px;
}

.work-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.work-tabs {
    display: flex;
}

.work-tabs-content {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin-top: 71px;
    margin-bottom: 70px;
}

.work-img{
    display: none;
    position: relative;
    width: 284px;
    height: 206px;
}

.work-img-hover {
    background-color: #f8fcfe;
    box-sizing: border-box;
    width: 284px;
    height: 204px;
    border-top: 3px solid #18cfab;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.work-img:hover .work-img-hover{
   opacity: 1;
    transition: 0.7s;
}

.work-img-hover.display {
    display: inline-block;
}

.work-img.active {
    display: inline-block;

}

.work-img.hidden {
    display: none;

}

.work-tabs-title {
    padding: 22px;
    background-color: #ffffff;
    color: #717171;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.work-tabs-title:hover {
    color: #18cfab;
}

.work-tabs-title.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}


.work-button {
    width: 165px;
    height: 60px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 100px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.work-button::before {
    content: url("../images/pseudo/plus.png");
    position: absolute;
    left: 25px;
}

.work-span-1 {
    padding: 18px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    display: inline-block;
    margin-left: 85px;
    margin-top: 46px;
    position: relative;
    color: #18cfab;
    font-size: 15px;
}

.work-span-1:hover {
    background-color: #18cfab;
    color: white;
}


.work-span-2 {
    padding: 18px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    color: #18cfab;
    font-size: 15px;
}

.work-span-2:hover {
    background-color: #18cfab;
    color: white;
}


.work-hover-text-1 {
    font-size: 18px;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.work-hover-text-2 {
    font-size: 14px;
    color: #999999;
    font-weight: lighter;
    text-transform: capitalize;
    display: block;
    text-align: center;
    margin-top: 12px;
}


/*NEWS*/


.section-news-container{
    width: 1160px;
    margin: 0 auto
}

.news-header {
    padding-top: 98px;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    text-transform: capitalize;
}


.news-header::after {
    content: '';
    width: 76px;
    border-bottom: 1px solid #18cfab;
    box-shadow: 10px 8px 0 0 #18cfab;
    position: absolute;
    bottom: -35px;
    left: 542px;
    display: block;
}


.news-container {
    margin-top: 105px;
    margin-bottom: 133px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 45px;
}

.news-background{
    width: 263px;
    height: 280px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    position: relative;
}

.news-data{
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    padding-top: 8px;
}

.news-items:hover .news-data{
    background-color: #18cfab;
    transition: 0.5s;
}

.news-items:hover .news-span-1 {
    color: #18cfab;
    transition: 0.5s;
}


.news-span-1 {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    display: block;
    padding-top: 14px;
    padding-left: 13px;
    text-transform: capitalize;
}

.news-span-1:hover {
    color: #18cfab;
}

.news-span-2{
    font-size: 14px;
    color: #777777;
    display: inline-block;
    padding-top: 14px;
    padding-left: 17px;
}

.news-span-3{
    font-size: 14px;
    color: #777777;
    display: inline-block;
    padding-top: 14px;
    padding-left: 17px;

}

.news-span-2::after {
    content: '';
    height: 12px;
    border-left: 1px solid #777777;
    position: absolute;
    bottom: 11px;
    left: 94px;
}


/*SLIDER*/


.section-reviews-cover {
    background-image: url("../images/background/section-3.jpg");
    background-size: cover;
}

.section-reviews-container {
    width: 1160px;
    margin: 0 auto;
}

.reviews-header {
    padding-top: 98px;
    text-align: center;
    font-size: 36px;
    color: white;
    position: relative;
    text-transform: capitalize;
}

.reviews-header::after {
    content: '';
    width: 76px;
    border-bottom: 1px solid #18cfab;
    box-shadow: 10px 8px 0 0 #18cfab;
    position: absolute;
    bottom: -31px;
    left: 542px;
    display: block;
}

.reviews-header::before {
    content: url("../images/pseudo/quotes.png");
    width: 44px;
    height: 30px;
    position: absolute;
    bottom: -150px;
    left: 558px;
    display: block;
}

.slider-wrapper {
    width: 1160px;
    padding-top: 178px;
}

.reviews-opinion {
    font-size: 16px;
    color: #8a9295;
    text-align: center;
    line-height: 1.5;
}

.reviews-name {
    display: block;
    margin-top: 43px;
    font-size: 20px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
    text-align: center;
}

.reviews-profession {
    display: block;
    margin-top: 10px;
    padding-bottom: 37px;
    font-size: 14px;
    color: #8a9295;
    text-align: center;
}

.reviews-photo-big, .reviews-photo-small {
    border-radius: 50%;
    box-sizing: border-box;

}

.reviews-photo-big {
    margin-left: 510px!important;
    margin-bottom: 20px!important;
    width: 142px;
    height: 142px;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(138,146,149,0.4);

}

.reviews-photo-small{
    margin-top: 15px!important;
    margin-bottom: 10px!important;
    margin-left: 10px!important;
    width: 62px;
    box-shadow: 0 0 0 5px rgba(138,146,149,0.4);
    }

.reviews-photo-small.focus {
    border: 2px solid #18cfab;
    position: absolute;
    bottom: 10px;
    align-self: center;
}

.reviews-photo-small:hover {
    border: 2px solid #18cfab;
}

.slider-1 {
    width: 1160px;
    padding-bottom: 30px;
}

.slider-2 {
    width: 370px;
    margin-left: 400px;
    position: relative;
}

.slider-arrows {
    position: relative;
    padding-bottom: 90px;
}

.prev {
    font-size: 16px;
   padding: 8px 12px;
    color: white;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    right: 340px;
    bottom: 114px;
}

.next {
    font-size: 16px;
    padding: 8px 12px;
    color: white;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    left: 340px;
    bottom: 114px;
}

.prev::before {
    content: url("../images/pseudo/next.png");
}

.next::before {
    content: url("../images/pseudo/prev.png");
}

.prev:hover {
    background-color: #18cfab;
}

.next:hover {
    background-color: #18cfab;
}


footer {
    background-color: #22353f;
}

footer div {
    text-align: center;
    padding-top: 47px;
    padding-bottom: 47px;
    margin: 0 auto;
    color: #aeaeae;
    font-size: 14px;
}

footer div span {
    color: #18cfab;
}