.div {
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 20px solid #3a4965;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}


tr {
    height: 69px;
}

tr:last-of-type {
    height: 110px;
}

tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

tr:nth-of-type(even) {
    background-color: #e3e3e3;
}

td:nth-of-type(1) {
    width: 310px;
}


th {
    width: 277px;
    vertical-align: middle;
    background-color: #fafafa;
    box-shadow: -2px 0 2px rgba(0,0,0,0.1);
}



td {
    width: 277px;
    border-left: 2px solid #eaeaea;
    box-shadow: -2px 0 2px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #848484;
    text-align: center;
    vertical-align: middle;

}

tr:first-child {
    width: 310px;
}

tr:last-child td:nth-of-type(even) {
    background-color: #eeeeee;
}

tr:last-child td:nth-of-type(1) {
    background-color: #dddddd;
}


.main-text-1 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #484848;

}

.main-text-2 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #484848;
    line-height: 1.2;


}

.header-items-1 {
    background-color: #89c331;
    color: white;
    font-size: 24px;
}

.header-items-2 {
    background-color: #f04a56;
    color: white;
    font-size: 30px;
}

.header-items-3 {
    background-color: #20807c;
    color: white;
    font-size: 24px;
}



.header-items-prices {
    color: #484848;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    height: 86px;
    padding-left: 33px;


}

.wrapper {
    position: relative;
}


sup {
    font-size: 24px;
    position: absolute;
    left: 100px;
    top: 8px;
}

.wrapper::after {
    content: "Per Month";
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 100px;
    top: 40px;
}

button {
    box-shadow: inset 0 -7px 2px rgba(0,0,0,0.3);
    width: 192px;
    height: 49px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.col-1 {
    background-color: #484848;
}

.col-1:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.col-2 {
    background-color: #89c331;
    }

.col-2:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.col-3 {
    background-color: #f04a56;
}

.col-3:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.col-4 {
    background-color: #20807c;
}

.col-4:hover {
    cursor: pointer;
    transform: scale(1.2);
}

